<div class="aboutCovid">
  <h2>IMPORTANT COVID-19 INFO</h2>
  <p>
    Om det är fler än 20 deltagare får det enbart vara sittande deltagare
    (gäller tillställningar inomhus). Om vaccinationsbevis används gäller detta
    för allmänna sammankomster och offentliga tillställningar inomhus upp till
    500 personer. Om det är fler än 20 och högst 500 deltagare inomhus utan
    vaccinationsbevis gäller krav på maximalt 8 personer per sällskap och 1
    meters avstånd mellan sällskapen. Vid arrangemang större än 500 deltagare
    inomhus krävs vaccinationsbevis samt maximalt 8 personer per sällskap och 1
    meters avstånd mellan sällskapen. I föreskriften om de aktuella åtgärderna
    finns särskilda anvisningar i samband med religionsutövning. Dessutom finns
    föreskrifter om ytterligare smittskyddsåtgärder som ska vidtas så som att
    erbjuda möjlighet till handtvätt, och informera om hur smittspridning kan
    undvikas.
  </p>
</div>