<div class="comingSoon">
  <h2>KOMMANDE FILMER</h2>
  <div class="comingSoonImg">
    <img src="./src/img/covers/cover10.jpg" alt="" />
  </div>
  <div class="comingSoonText">
    <a href="#">Alla kommande</a>
  </div>
</div>