<div class="ftMovie">
  <div class="ftMovieContainer">
    <div class="ftMovieLayer">
      <h2 class="ftMovieHeader">VECKANS FILM I FOKUS</h2>
      <div class="ftMovieDescription">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora a
        beatae atque ullam excepturi iure.
      </div>
      <a class="ftMovieButton" href="">Mer information</a>
    </div>
  </div>
</div>