<div class='moviesListContainer'>
  {{#each movies}}
    <a href='/film/{{this.id}}'>
      <div class='moviesListmovieContainer'>
        <h2 class='movieTitle'>
          {{this.attributes.title}}
        </h2>
        <div
          class='movieCoverImage'
          style='background-image: url({{this.attributes.image.url}});'
        >
        </div>
      </div>
    </a>
  {{/each}}
</div>