<div class="moviesListContainer">
  {{#if movies}}
    {{#each movies}}
      <a class="moviesListLink" href="/movie/{{this.id}}">
        <div class="moviesListMovieContainer">
          <h2 class="movieTitle">
            {{this.attributes.title}}
          </h2>
          <div
            class="movieCoverImage"
            style="background-image: url({{this.attributes.image.url}});"
          >
          </div>
        </div>
      </a>
    {{/each}}
  {{else}}
    <div>Something went wrong</div>
  {{/if}}
</div>