<div class='movieContainer'>
  {{#if movie.image}}
  <div
    class='movieImage'
    style='background-image: url({{movie.image}});'
  >
  </div>
  {{/if}}
  <div class="movieInformationContainer">
    <h3 class="movieInformationTitle">
      {{movie.title}}
    </h3>
    <div class="movieIntro">
      {{{introMarked}}}

    </div>
</div>