<a href='/filmer'>Back to movies</a>
<div class='movieContainer'>
  <div
    class='movieImage'
    style='background-image: url({{movie.attributes.image.url}});'
  >
  </div>
  <div class="movieInformationContainer">
    <h3 class="movieInformationTitle">
      {{movie.attributes.title}}
    </h3>
    <div class="movieIntro">
      {{movie.attributes.intro}}
    </div>
</div>