.menuContainer {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #aaaaaa;
  font-size: 2rem;
}

.moviesListMovieContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 20%;
  width: 60%;
}

.movieCoverImage {
  height: 7rem;
  width: 5rem;
  background-position: center;
  background-size: contain;
}

.movieContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}

.movieImage {
  height: 400px;
  width: 300px;
  background-position: center;
  background-size: cover;
  margin-right: 1rem;
}

.movieInformationContainer {
  width: 80%;
}

.fourofour {
  font-size: 10rem;
  color: #6e6e6e;
  text-align: center;
}
